{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

{% include 'partials/_alerts.html' %}
<br>
<div class="card">
    <div class="card-header">
        <h2>Edit Admin Info</h2>
    </div>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form edit_admin_forms %}
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock %}

