{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_alerts.html' %}

{% if logged_in_as_student in students %}
<div class="row d-none">
    <div class="col-lg-12">
        <br>
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Students List</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Fullname</th>
                            <th>Student No.</th>
                            <th>Email</th>
                            <th>Sex</th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ student.full_name}}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.student_email }}</td>
                                
                               
                                <td>{{ student.gender}}</td>
                                <td>
                                    <a href="{% url 'students:single_student' student.id %}">
                                        <button type="button" class="btn btn-primary">Details</button>
                                    </a>
                                    <a href="{% url 'students:edit_student' student.id %}">
                                        <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                    </a>
                                    <a href="{% url 'students:delete_student' student.id %}">
                                        <button type="button" class="btn btn-danger">X</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif logged_in_as_teacher in lecturers %}

<div class="row">
    <div class="col-lg-12">
        <br>
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Students List</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                          
                            <th>Fullname</th>
                            <th>Student No.</th>
                            <th>Email</th>
                            <th>Sex</th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            {% if logged_in_as_teacher.module in student.modules.all %}
                            <tr>
                              
                                <td>{{ student.full_name}}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.student_email }}</td>
                                
                               
                                <td>{{ student.gender}}</td>
                                <td>
                                    <a href="{% url 'students:single_student' student.id %}">
                                        <button type="button" class="btn btn-primary">Details</button>
                                    </a>
                                    <a href="{% url 'students:edit_student' student.id %}">
                                        <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                    </a>
                                    <a href="{% url 'students:delete_student' student.id %}">
                                        <button type="button" class="btn btn-danger">X</button>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% else %}
<div class="row">
    <div class="col-lg-12">
        <br>
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Students List</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            
                            <th>Fullname</th>
                            <th>Student No.</th>
                            <th>Email</th>
                            <th>Sex</th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                
                                <td>{{ student.full_name}}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.student_email }}</td>
                                
                               
                                <td>{{ student.gender}}</td>
                                <td>
                                    <a href="{% url 'students:single_student' student.id %}">
                                        <button type="button" class="btn btn-primary">Details</button>
                                    </a>
                                    <a href="{% url 'students:edit_student' student.id %}">
                                        <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                    </a>
                                    <a href="{% url 'students:delete_student' student.id %}">
                                        <button type="button" class="btn btn-danger">X</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}










<div class="container col-12"> 
    <div class="pagination">
        <span class="step-links">

            {% if  articles.has_previous %}
              
                <a style="text-decoration: none;" class="position-relative " href="?page={{ articles.previous_page_number }}"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                      </svg> previous
                    </a>

            {% else %}    
                <a href="#" class="position-relative " style="color: gray;text-decoration: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                      </svg> previous</a>
            {% endif %}

            <span class="position-relative " style="font-weight: 600; margin-left: 0.8cm; margin-right: 0.8cm;">
                 {{  articles.number }} of {{  articles.paginator.num_pages }} 
            </span>    

            {% if  articles.has_next %}
                <a style="text-decoration: none;"class="position-relative " href="?page={{ articles.next_page_number }}">
                    next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg></a>

            {% else %}    
            <a style="color: gray;text-decoration: none;" class="position-relative " href="#">
                next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg></a>

            {% endif %}

        </span>
    </div>
</div>


{% endblock %}