{% extends 'base/base.html' %}
{% load static %}



{% block content %}


 <div class="container-fluid" >  
     <br>
     <!-- ################### Student Dashboard ####################################-->
    {% if logged_in_as_student in students %}
        {% if logged_in_as_student.approved is True  %}

        <h3> Logged In As Student</h3>
        <hr>
        <div >

        <div class="d-flex">  
            {% if logged_in_as_student.student_image != Null %}
            <img style="border: 1px rgba(135, 135, 255, 0.423) solid;" height="100" src="{{logged_in_as_student.student_image.url}}" alt=""> &nbsp;&nbsp;&nbsp;
            {% endif %}
            <div>  
                <span class="d-flex">  full Name :  <h5> &nbsp; {{logged_in_as_student}} </h5> </span> 
                <span class="d-flex">  Student No. :  <h5> &nbsp;{{logged_in_as_student.name}} </h5> </span>  
                <span class="d-flex">  Student Email :   <h5> &nbsp;{{logged_in_as_student.student_email}} </h5> </span> 
            </div>

        </div>


         <div class="d-flex">   
            <a href="{% url 'students:edit_student' logged_in_as_student.id %}"> Edit Details</a> &nbsp;|&nbsp;
            <a href="{% url 'students:single_student' logged_in_as_student.id %}"> View All Details</a>
        </div> 
        <hr>

        <div class="student-modules" style="background-color:#d4e7ffa6 ;border: 1.5px #afd1fc solid;">
            <br>
            <div class="container" style="width: 95%;">  
            <h2><strong>Modules</strong></h2>
            <div class="row">
                {% for i in logged_in_as_student.modules.all %}
                <div class="col-4">
                    <div class="card card-body" style="background-color: #6f87ff38; height: 200px;border-left: {% cycle 'red' 'orange' '#008D2F' 'blue' '#E528F2' '#E6E116'  '#009FB8' '#E6E116' %} 4px solid;">
                        <h5>  <strong> {{i}}</strong> </h5> 
                        <h5>{{i.module_description|truncatechars:60}} </h5>
                        <div class="row">
                            <br>
                            <div class="col"> 

                                {% with i.teacher_modules.all as lecturers %} 
                                    {% for lecturer in lecturers %}
                                      <h6 class="d-flex"> lecture :  <a href="{% url 'lecturers:single_teacher' lecturer.id %}"> {{lecturer.full_name}} </a>  </h6>  
                                      {% empty %}
                                       <h6>No Lecturer</h6>
                                    {% endfor %}
                                {% endwith %}
                             </div>
                            
                        </div>
                     
                        
                    </div>
                    
                </div>
                {% empty %}
                <br>
                <h5 style="color: rgb(145, 145, 145);"> &nbsp;&nbsp;Admin Has Not Assigned Modules Yet</h5>
                {% endfor %}
            </div>
        </div>
        </div>

        <div class="sessions" style="height: 4cm;">
            <h2><strong>Sessions</strong></h2>
            {% for session in student_sessions %}
                <h6>  <a style="text-decoration:underline;" href="{% url 'lecturers:single_session' session.id %}"> {{session.session_name}} </a>  </h5>  
            {% empty %}  
          
            <h5 style="color: rgb(145, 145, 145);"> Lecturer Has Not made sessions yet</h5>
            {% endfor %}
        </div>


        {% else %}
            <h3>Waiting for approval from admin</h3>
        {% endif %}
<!-- ################### End of Student Dashboard ####################################-->




<!-- ################### Lecturers Dashboard ####################################-->
    {% elif logged_in_as_teacher in teachers %}    
        {% if logged_in_as_teacher.approved is True  %}
    <h3> Logged In As Lecturer</h3>
    <hr>
    <div >
       
    <span class="d-flex">  full Name :  <h5> &nbsp; {{logged_in_as_teacher.full_name}} </h5> </span> 
   <span class="d-flex">  teacher No. :  <h5> &nbsp;{{logged_in_as_teacher.name}} </h5> </span>  
     <span class="d-flex">  teacher Email :   <h5> &nbsp;{{logged_in_as_teacher.teacher_email}} </h5> </span> 
     <div class="d-flex">   
        <a href="{% url 'lecturers:edit_teacher' logged_in_as_teacher.id %}"> Edit Details</a> &nbsp;|&nbsp;
        <a href="{% url 'lecturers:single_teacher' logged_in_as_teacher.id %}"> View All Details</a>
    </div> 
     {{ logged_in_as_teacher.module}}
     <hr>

     <div class="row">
         <div class="col-4">
           
            <div class="card card-body">
                <center>  
             <h1> {{enrolled_students|length}} </h1>   
             <h5> Total Number Of Students </h5>   
             <a href="{% url 'students:student_list' %}"> view enrolled students</a>
            </center>
            </div>
         </div>
         <div class="col-4">
             <a href="{% url 'lecturers:session' %}"> Create New Session</a>
        </div>
     </div>
        {% else %}
            <h3>Waiting for approval from admin </h3>
         {% endif %}

<!-- ################### End of lecturers Dashboard ####################################-->


<!-- ################### Admin Dashboard ####################################-->

    {% elif logged_in_as_admin in admins %}
        {% if logged_in_as_admin.approved is True  %}
        <h3>Logged in as Admin</h3>
       
        <hr>
        <span class="d-flex">  full Name :  <h5> &nbsp; {{logged_in_as_admin.full_name}} </h5> </span> 
        
          <span class="d-flex">  admin Email :   <h5> &nbsp;{{logged_in_as_admin.admin_email}} </h5> </span> 
          <div class="d-flex">   
             <a href="{% url 'admins:edit_admin' logged_in_as_admin.id %}"> Edit Details</a> &nbsp;|&nbsp;
             <a href="{% url 'admins:single_admin' logged_in_as_admin.id %}"> View All Details</a>
         </div> 
         <hr>
        <div class="row">
            <div class="col-4">
                <div class="card card-body">
                    <center>
                        <h1>
                            <strong>
                                {{students.count}}
                            </strong>
                        </h1>
                        <p>
                            Total enrolled students
                        </p>
                        <a href="{% url 'students:student_list' %}">view students</a>
                    </center>
                </div>
            </div>

            <div class="col-4">
                <div class="card card-body">
                    <center>
                        <h1>
                            <strong>
                                {{teachers.count}}
                            </strong>
                        </h1>
                        <p>
                            Total employed lecturers
                        </p>
                        <a href="{% url 'lecturers:teacher_list' %}">view lecturers</a>
                    </center>
                </div>
            </div>
        </div>
            {% else %}
                <h3> Waiting for approval from Super Admin</h3>
        {% endif %}


        {% else %}
        <h3>Logged in as Super Admin</h3>
       
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="card card-body">
                    <center>
                        <h1>
                            <strong>
                                {{students.count}}
                            </strong>
                        </h1>
                        <p>
                            Total enrolled students
                        </p>
                        <a href="{% url 'students:student_list' %}">view students</a>
                    </center>
                </div>
            </div>

            <div class="col-4">
                <div class="card card-body">
                    <center>
                        <h1>
                            <strong>
                                {{teachers.count}}
                            </strong>
                        </h1>
                        <p>
                            Total employed lecturers
                        </p>
                        <a href="{% url 'lecturers:teacher_list' %}">view lecturers</a>
                    </center>
                </div>
            </div>

            <div class="col-4">
                <div class="card card-body">
                    <center>
                        <h1>
                            <strong>
                                {{admins.count}}
                            </strong>
                        </h1>
                        <p>
                            Total employed administrators
                        </p>
                        <a href="{% url 'admins:admin_list' %}">view admins</a>
                    </center>
                </div>
            </div>

        </div>
    {% endif %}
</div>

<!-- ################### End of Admin Dashboard ####################################-->

{% endblock %}
