{% extends 'base/base.html' %}
{% load static %}



{% block content %}
 <div class="container-fluid" style="width:95%">  
     <br>
     <!-- ################### Student Dashboard ####################################-->
    {% if logged_in_as_student in students %}


        <h3> Logged In As Student</h3>
        <hr>
        <div >
           
        <span class="d-flex">  full Name :  <h5> &nbsp; {{logged_in_as_student}} </h5> </span> 
       <span class="d-flex">  Student No. :  <h5> &nbsp;{{logged_in_as_student.name}} </h5> </span>  
         <span class="d-flex">  Student Email :   <h5> &nbsp;{{logged_in_as_student.student_email}} </h5> </span> 

         <div class="d-flex">   
            <a href="{% url 'students:edit_student' logged_in_as_student.id %}"> Edit Details</a> &nbsp;|&nbsp;
            <a href="{% url 'students:single_student' logged_in_as_student.id %}"> View All Details</a>
        </div> 
        <hr>

        <div class="student-modules">
            <h2><strong>Modules</strong></h2>
            <div class="row">
                {% for i in logged_in_as_student.modules.all %}
                <div class="col-4">
                    <div class="card card-body" style="height: 200px;">
                        <h5>  <strong> {{i}}</strong> </h5> 
                        <h5>{{i.module_description|truncatechars:60}} </h5>
                        <div class="row">
                            <br>
                            <div class="col"> 
                                <h6 >lecturer : {{i.teacherinfo_set.name}}</h6>
                             </div>
                            
                        </div>
                     
                        
                    </div>
                    
                </div>
                {% empty %}
                <br>
                <h5 style="color: rgb(145, 145, 145);"> &nbsp;&nbsp;Admin Has Not Assigned Modules Yet</h5>
                {% endfor %}
            </div>
          
        </div>
<!-- ################### End of Student Dashboard ####################################-->



       
     
    













<!-- ################### Teachers Dashboard ####################################-->
    {% elif logged_in_as_teacher in teachers %}    
        
    <h3> Logged In As Teacher</h3>
    <hr>
    <div >
       
    <span class="d-flex">  full Name :  <h5> &nbsp; {{logged_in_as_teacher.full_name}} </h5> </span> 
   <span class="d-flex">  teacher No. :  <h5> &nbsp;{{logged_in_as_teacher.name}} </h5> </span>  
     <span class="d-flex">  teacher Email :   <h5> &nbsp;{{logged_in_as_teacher.teacher_email}} </h5> </span> 
     <div class="d-flex">   
        <a href="{% url 'teachers:edit_teacher' logged_in_as_teacher.id %}"> Edit Details</a> &nbsp;|&nbsp;
        <a href="{% url 'teachers:single_teacher' logged_in_as_teacher.id %}"> View All Details</a>
    </div> 
     {{ logged_in_as_teacher.module}}
     <hr>

     <div class="row">
         <div class="col-4">
           
            <div class="card card-body">
                <center>  
             <h1> {{enrolled_students|length}} </h1>   
             <h5> Total Number Of Students </h5>   
             <a href="{% url 'students:student_list' %}"> view enrolled students</a>
            </center>
            </div>
         </div>
         <div class="col-4">
             
        </div>
     </div>
  
         

<!-- ################### End of Teachers Dashboard ####################################-->





















    {% else %}
        <h3>Home Page for Admin</h3>
        <p> Admin features will show below?? </p>
    {% endif %}
</div>



{% endblock %}
